
.Header_Style 
{
padding:15px;
display:flex;
align-items:center;
background:#F60100;
justify-content:center;
}

.Header_Style 
h1 
{
color:#fff;
font-size:30px;
font-family:sans-serif;
fon-style:italic;
}